@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --heading:rgb(0 10 45);
    --para:#777;
    --para-tint:#e4e4e4;
    --white:#fff;
    --black:#212529;
    --helper:#8490ff;
    --helper-tint:black;
    --overlay:#3e64ff;
    --bg:#fffef9;
    --icon-bg:rgb(144,172,209,0.2);
    --gradient:linear-gradient(0deg,rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport:-webkit-linear-gradient(0deg,rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadow:0px 0px 20px 0px rgb(132 144 255/20%);
    --shadowSupport:0px 20px 20px 0 rgb(132 144 255/30%);
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  
}
body{
    overflow-x: hidden;
    
    
}
h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}
h1{
    color:var(--heading);
    font-size:6rem;
    font-weight: 600;
}
h3{
    font-size:1.8rem;
    font-weight: 400;
}
p{
    color:var(--para);
    line-height: 1.6;
    font-size: 1.7rem;   
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Header Section */
.header{
   padding:0 4.8rem;
   height: 10rem;
   background-color: var(--bg);
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.header .logo{
    height: 6rem;
}
.navbar-list{
    display: flex;
    gap:4.8rem;
}
.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color:var(--black); 
    transition: color 0.3s linear; 
}
.navbar-link:hover,
.navbar-link:active{
    color:var(--helper);
}
/* reuseable code */
.section{
    padding: 9rem 0;
}
.grid{
    display: grid;
    gap:9rem;
}
.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}
.grid-three-column{
    grid-template-columns: repeat(3,1fr);
}
.grid-four-column{
    grid-template-columns: repeat(4,1fr);
}
.btn{
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color:var(--helper-tint);
    display: inline-block;
    font-size: 1.8rem;
    font-weight:500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.btn:hover,.btn:active{
    box-shadow: var(--shadowSupport);
}
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.common-heading{
    font-size:4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}
.common-heading::before{
    content: "";
    position: absolute;
    top:110%;
    left:0;
    width:1.5rem;
    height: 1.5rem;
    background: var(--helper);
    border-radius: 50%;
}
.common-heading::after{
    content:"";
    position: absolute;
    top:118%;
    left:1.5rem;
    min-width: 20rem;
    background: var(--helper);
    height: 0.3rem;
}

/* hero section start */
.section-hero{
    background-color: var(--bg);
}
.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color:var(--helper);
}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}
.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 70rem;
}
.stylist{
    color:#3e64ff;
    font-weight: 700;
    font-size: 2rem;
}
.section-hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* bio data */
.bio-image{
   display: flex;
   align-items: center;
   justify-content: center;
}
.bio-image img{
    width:80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display:inline-block;
}
.bio-image1{
    display: flex;
   align-items: center;
   justify-content: center;
}
.bio-image1 img{
    width:80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display:inline-block;
}

.bio-data-status{
    display: flex;
    padding: 6.4rem 0;
    flex-direction: column;
    gap:3rem;
}
.bio-progress-bar{
  width:90%;
  height: 0.8rem;
  background-color: var(--para-tint);
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadow);
}
.bio-stats h3{
    margin-bottom: 10px;
}
.bio-progress-bar::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress-5::before{
    width: 70%;
}
.bio-progress-6::before{
    width: 80%;
}
.bio-progress-bar span{
    position: absolute;
    top:1.8rem;
    width:4rem;
    height: 2rem;
    background:var(--helper);
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
}
.bio-progress-bar span{
    left:76%;
}
.bio-progress-2 span{
    left:91%;
}
.bio-progress-3 span{
    left:76%;
}
.bio-progress-4 span{
    left:70%;
}
.bio-progress-5 span{
    left:66%;
}
.bio-progress-6 span{
    left:76%;
}
/* To create a cart */
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    top:-1.6rem;
}
/* Portfolio section  */
.section-portfolio{
    background: var(--bg);
    transition: all 0.7s linear;
}
.section-portfolio p{
    max-width: 60rem;
}
.port-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-top: 6.4rem;
    margin: 6.4rem 0;
}
.portfolio-images{
    gap:3.2rem;
}
.portfolio-images img{
    width:100%;
    border-radius: 7px;
    position:relative;
    overflow:hidden;
}
.img-overlay{
    position: relative;
     overflow: hidden; 
}
.img-overlay .overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
    opacity: 0;
}
.img-overlay:hover> .overlay{
    transform:translateY(0);
    opacity: 0.8;
    cursor: pointer;
}
.img-overlay .common-heading{
    margin:0;
    color:var(--white);
    text-decoration: none;

}

.icons1{
    margin: 5rem 0;
    text-align: center;
    color:black;
    width: 4rem;
    height: 4rem;
    background-color: var(--icon-bg);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}
/* service icon  */
.section-services{
    transition: all 0.7s linear;
}
.section-services p{
    max-width: 60rem;
}
.section-services .grid{
    margin-top: 10rem;
    row-gap:10rem;
}
.service-card{
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
}
.service-card:hover,.service-card:active{
    transform: translateY(-3rem);
}
.service-icon{
    width:8rem;
    height: 8rem;
    background-color:var(--icon-bg);
    display: inline-block;
    border-radius: 31% 69% 0% 100% / 78% 28% 72% 22% ;
    padding: 1.4rem 1.8rem;
    color:var(--heading);
    animation: water-wave 3s linear infinite;
}
.service-icon::after{
   content:"";
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width:90%;
   height: 90%;
   border-radius: 31% 69% 0% 100% / 78% 28% 72% 22% ;
   background:transparent;
   animation: water-wave 3s linear infinite;
}
@keyframes water-wave{
    0%{
        border-radius:31% 69% 0% 100% / 78% 28% 72% 22%  ;
    }
    50%{
        border-radius:48% 52% 54% 46% / 50% 50% 50% 50%  ;
    }
    100%{
        border-radius:31% 69% 0% 100% / 78% 28% 72% 22%  ; 
    }
}
    /* freelancing section start */
    .section-freelancing{
        background-image: url('../images/projectimg7.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        position: relative;
        transition:all 0.7s linear;
        text-align: center;
    }
    .section-freelancing .overlay{
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color:var(--overlay);
        opacity: 0.7;
    }
    .section-freelancing .container{
        position: relative;
    }
    .section-freelancing span{
        color:#a0f669;
    }
   .section-freelancing h2{
    font-size: 5.4rem;
   }
   .section-freelancing h2, .section-freelancing p{
    color:var(--white);
    margin-bottom: 1.8rem;
   }
   /* Contact Us */
   .section-contact-main{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
   }
   .section-contact-main form{
    display:flex;
    flex-direction: column;
    gap:3.2rem;
   }
   .section-contact-main .grid{
    gap:3.2rem;
   }
   .section-contact-main input,
   .section-contact-main textarea{
    padding:1.5rem 2rem;
    border:0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: "work sans";
    width: 100%;
   }
   .section-contact-main input[type="submit"]{
    max-width: 40%;
    border:none;
   }
   /* our Footer section */
   .section-footer{
    background: var(--heading);
    transition: all 0.7s linear;
   }
   .section-footer h3{
    color:var(--white);
    margin-bottom:4rem;
   }
   .f-about p{
     color:#adadad;
   }
   .f-link ul,.f-services ul, .f-address address{
    display:flex;
    flex-direction: column;
    gap:1.8rem;
    justify-content: center;
   }
   .f-link li, .f-link a, .f-services li, .f-services a{
    font-size: 1.8rem;
    color:#adadad;
    text-transform: capitalize;
   }
   .f-link span,.f-services span,.f-address span{
    margin-right: 1rem;
   }
   .f-address p,
   .f-address p a{
    font-style: normal;
    color:#adadad;
   }
   .f-social-icons{
    margin: 5rem 0;
    text-align: center;
    color:#adadad
   }
   .f-social-icons .icons{
    width: 4rem;
    height: 4rem;
    background-color: var(--icon-bg);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color:var(--white);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
   }
.f-credits p{
    text-align: center;
    color:#adadad; 
}
.footer a:hover, .footer a:active{
    color:var(--white);

}
/* scroll section */
.scrollTop-style{
    position: fixed;
    right:2%;
    bottom:5%;
    z-index: 1;
}
.scroll-top{
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color:var(--white);
    animation: water-wave 3s linear infinite;
    cursor: pointer;
}
/* mobile section */
.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.mobile-nav-icon[name="close-outline"]{
    display:none;
}
/* media queries */

@media(max-width:95em){
    html{
        font-size:57.25%;
    }
    .container{
        max-width: 130rem;
        padding:0 3.2rem;
    }
    .navbar-list{
        gap:3.4rem;
    }
    .grid{
        gap:4.8rem;
    }

}
/* mobile navbar */
@media(max-width:980px){
    html{
        font-size: 50%;
    }
    .header{
        position:relative;
    }
    .mobile-navbar-btn{
        display:block;
        z-index: 9999;
        border:3px solid var(--black);
        color:var(--black);
    }
    .mobile-nav-icon{
        width:5rem;
        height:5rem;
        color:var(--black);
    }

    .header .logo{
       width:10%;
    }
    .navbar{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition:all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index:888;

}
   .navbar-list{
    flex-direction: column;
    align-items: center;
   }
.navbar .navbar-list .navbar-link:link,
.navbar .navbar-list .navbar-link:visited{
    color:black;
    font-size: 3.2rem;
}
.active .navbar{
   transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
}
.active .mobile-navbar-btn .mobile-nav-icon[name="menu"]{
    display:none;
}
.active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
    display:block;
}

/* hero section */
.section-hero h1{
    line-height: 1.05;
}
.section-services .grid{
    gap:6rem;
}
.section-services .grid-three-column{
    grid-template-columns: repeat(2,1fr);
}
/* resume section */
.section-resume .grid-two-column{
    grid-template-columns: 1fr;
}
.bio-image {
    grid-row: 2/3;
    transform: translateY(-2rem);
}
.section-resume .grid-two-column img{
    width:60%;
}
.section-footer .grid-four-column{
    grid-template-columns: 1fr 1fr;
}
.img-overlay .common-heading{
    font-size:3.2rem;
}
.img-overlay .common-heading::before,
.img-overlay .common-heading::after{
    content:"";
    width:0;
    height:0;
}
}
/* below 790 */
@media(max-width:49em){
    container{
        max-width: 71rem;
    }
    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-hero-data{
        align-items: center;
    }
    .hero-heading{
        text-align: center;
    }
    .hero-para{
        text-align: center;
        margin-top: 2rem;
    }
    .section-hero img{
        width: 70%;
    }
    /* biodata */
    .section-biodata .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-biodata .bio-image1{
        grid-row:2;
        margin-top: 3.2rem;
        transform: translateY(-1rem);
        
    }
 .section-biodata .grid-two-column img{
    width:60%;
}

   /* porfolio section */
.section-portfolio .grid-three-column{
    grid-template-columns: repeat(2,1fr);
}
/* section work data */
.section-work-data .grid-four-column{
    grid-template-columns: repeat(2,1fr);
}
}

@media(max-width:35em){
    .header{
        padding:0 3.2rem;
    }
    .header .logo{
        width:20%;
    }

    /*portfolio btns  */
    .btn{
        padding:1rem 2rem;
    }
    .section-services .grid-three-column{
        grid-template-columns: 1fr;
    }
    .section-testimonial .grid-three-column{
        grid-template-columns: 1fr;
    }
    .section-footer .f-about,
    .section-footer .f-address{
        grid-column:1/-1;
    }
    .contact-container{
        padding:0 3.2rem;
    }
    .contact-container .grid-two-column{
        grid-template-columns:1fr;
    }
    .img-overlay .common-heading{
        font-size:2.4rem;
    }
}




































   